.{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}


.main{
    width: 100;
    background-image: url('../IMG/bat.jpg');
    background-position: center;
    background-size: cover;
    height: 109vh;
}



.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200ox;
    float: left;
    height: 70px;
}

.header img{

   width: 150px;
   height: 70px;
}


.menu{
    width: 400px;
    float: left;
    height: 70px;
}

.menu ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;

}

.menu ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

.menu ul li a{
    text-decoration: none;
    color: aliceblue;
    font-family: Arial;
    font-weight: bold;
    transition: .3s ease;
}

.menu ul li a:hover{
    color: aqua;
}


.SEARCH{
    width: 300px;
    float: left;
    margin-left: 270px;
}

.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid rgb(43, 226, 211);
    margin-top: 13px;
    color: black;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom: 5px;
    border-top-left-radius: 5px;
}

.btn{
    width: 100px;
    height: 40px;
    background: rgb(43, 226, 202);
    border: 2px solid rgb(43, 226, 186);
    margin-top: 13px;
    color: azure;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}


.content{
width: 1200px;
height: auto;
margin: auto;
color: rgb(232, 241, 241);
position: relative;
}

.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 1px;
}

.content .cn{
    width: 160px;
    height: 40px;
    background: rgb(0, 255, 221);
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
}

.content .cn a{
    text-decoration: none;
    color: rgb(13, 13, 14)
    transition: .3s ease;
}

.cn:hover{
background: azure;
}

.content span{
font-size:60px ;
color: aqua;
}